@import "tailwindcss";



.menu{
  width: 100%;
}
.about>div:nth-child(2){
    min-height: 100%;
    justify-content: center;
}
.skill>div{
    height: 20px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    border-radius: 15px;
}

.skill>div::before{
    content: "";
    position: absolute;
    background: red;
    width: 0%;
    height: 20px;
    left: 0px;
    animation: progress 2s ease-in-out forwards;
}
@keyframes progress {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
        
    }
}

/* Education */
.education{
    min-height: 591px;
    background-color:#1E201E;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 40px 0px;
    gap: 70px;
    align-items: center;
  }
  .edu-content{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
  }
  .edu-box{
    width: 500px;
    /* background-color: gray; */
    border-left: 2px solid white;
    padding: 5px 20px 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    flex-grow: 1;
    margin-left: 40px;
  }
  .edu-box p{
    line-height: 25px;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
  }
  .edu-box>p:nth-child(2){
    border: 1px solid rgb(29, 28, 28);
    background-color: rgb(65, 65, 65);
    padding: 2px 20px;
    width: max-content;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .edu-icon{
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -10px;
    left: -20px;
    border-radius: 50%;
    background-color: red;
  }
  @media only screen and (max-width:571px){
    .edu-box{
      width: 100%;
      padding: 5px 25px 50px 40px;
      margin-left: 0px;
      text-align: justify;
    }
  }
  

  /* project */
.slideDiv{
  width: 350px;
  height: 270px;
  position: relative;
  display: flex;
  justify-content: center;
}
.slideImg{
  width: 100%;
  height: 100%;
  z-index: 0;
}
.slideDiv a{
  position: absolute;
  z-index: 9;
  bottom: 6px;
  width: 80%;
  text-align: center;
  background: rgba(225,225,225,0.3);
  padding: 5px 0px;
  color: white;
  font-size: 1.1rem;
}

.swiper-controler{
  width: 250px;
  height: 35px;
  margin: auto;
  text-align: center;
  /* background: red; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.custom-prev,.custom-next{
position: absolute;
}
.custom-prev{
  left: 10px;
}
.custom-next{
  right: 10px;
}
  /* contact */

  /* Custom CSS - add to your global styles */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
